body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: lightblue;
    margin: 20px;
    padding: 0;
}

/* This is a comment, by the way */

p {
    line-height: 21px;
}

h1 {
    color: white;
    background-color: blanchedalmond;
    font-size: 3em;
    margin: 0;
    margin-bottom: 7px;
    padding: 5px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: lavender;
}

h2 {
    color: black;
    background-color: plum;
    font-size: 1.5em;
    margin: 0;
    padding: 3px;
    padding-left: 14px;
}

h3 {
    color: burlywood;
    font-size: 1.25em;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: black;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: white;
    font-style: italic;
}

table {
    background-color: #ccc;
}
