body {
    font-size: 14px;
    color: navy;
	font-family: arial; 

}


h1{
	color: white;
	background-color: purple;
	font-size: 30px;
	
}

h2{
	 border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: blue;
}

em{
	text-decoration: underline;
}

