body {
    font-size: 14px;
    color: navy;
	font-family: arial; 

}


h1{
	color: white;
	background-color: purple;
	font-size: 30px;
	
}

h2{
	font-size: 1.5em;
    background-color: #ccc;
    margin: 20px;
    padding: 40px;
}

em{
	text-decoration: underline;
}

